*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --FONTCOLOUR: #302e2e;
    --GRADIENT: linear-gradient(0deg, hsla(327, 97%, 27%, 0.564) 15.2%, hsla(0, 98%, 55%, 0.314) 35.2%, hsla(54, 100%, 80%, 0.074), hsla(177, 92%, 29%, 0.264));
    --GRADIENTBOX: linear-gradient(0deg, hsla(327, 97%, 19%, 0.964) 15.2%, hsla(0, 98%, 35%, 0.814) 35.2%, hsla(54, 100%, 75%, 0.674), hsla(177, 92%, 19%, 0.664));
    --GRADIENTFILL: linear-gradient(to top, hsla(356, 51%, 61%, 0.6) 40%, hsla(177, 92%, 29%, 0.5));
    --GRADIENTFILLDARK: linear-gradient(135.8deg, hsla(240, 62%, 15%, 0.774) 27.1%, hsla(0, 70%, 42%, 0.712) 77.5%);
    --NAVCOLOUR: hwb(220 15% 78%);
    --FONTCONTAINER: font-family: 'Raleway', sans-serif;
    --BCKSECTIONS: hsla(0, 0%, 100%, 0.6);
    --OUTLINESECTIONS: hsla(0, 0%, 100%, 0.719);
    --BOTTOMBORDER: rgb(196, 20, 20);
}

.text {
    white-space: nowrap;
}







header {
    width: 100vw;
    height: max-content;
    background-color: var(--NAVCOLOUR);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative;
}

header h1 {
    font-family: 'Grape Nuts', cursive;
    font-size: 5rem;
    letter-spacing: 2px;
    padding: 0.1em;
    background-image: linear-gradient(75.5deg, rgb(230, 75, 75) 22.3%, rgb(230, 252, 88) 59.1%, rgb(155, 205, 214) 89.7%);
    -webkit-background-clip: text;
    color: transparent;
}

header span {
    color: #ffffff;
    position: absolute;
    left: 2em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header span img {
    max-width: 200px;
    height: auto;
    padding: 0.5em;
}


.search {
    width: max-content;
    height: max-content;
    outline: 1px solid white;
    outline-offset: .4em;
    border-radius: 1em;
    display: flex;
    gap: .5em;
    position: absolute;
    top: 3.5em;
    right: 2.5em;
}

.search .search-bar {
    width: 12em;
    height:2.5em;
    border-radius: 1em 0 0 1em;
    padding: .5em;
    font-family: var(--FONTCONTAINER);
    font-weight: 600;
    color: #ffffff;
    background-image: hsla(0, 0%, 100%, 0.575); 
    border: none;
    font-size: 0.9rem;
}

.search button {
    width: 3.5em;
    height: 2.5em;
    border-radius: 0 1em 1em 0;
    font-family: var(--FONTCONTAINER);
    font-weight: 600;
    color: #ffffff;
    background-image: linear-gradient(135.8deg, hsla(0, 70%, 42%, 0.712) 17.1%, hsla(0, 70%, 42%, 0.712) 77.5%);
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
}


header select {
    position: absolute;
    top: 3.8em;
    right: 19em;
    width: 6.5em;
    height: 2.5em;
    border-radius: 1em;
    font-family: var(--FONTCONTAINER);
    font-weight: 600;
    color: #ffffff;
    /* background-image: linear-gradient(135.8deg, hsla(0, 70%, 42%, 0.712) 17.1%, hsla(0, 70%, 42%, 0.712) 77.5%); */
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    /* outline: 1px solid white;
    outline-offset: .4em; */
    text-align: center;
    font-size: 1.1rem;
}

header select option {
color: #ffffff;
background-color: hsla(0, 70%, 42%, 0.712);
font-weight: lighter;
font-size: 1.1rem;
}



nav {
    background-color: var(--NAVCOLOUR);
    height: max-content;
    width: 100vw;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". ul btn";
    justify-content: center;
    align-items: center;
    position: relative;
}



nav button {
    grid-area: btn;
    justify-self: center;
    width: 10em;
    height: 3em;
    padding: .3em .3em;
    margin: 1em 10em 1em 0;
    font-size: 1.1em;
    border-radius: .2em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    background-color: var(--BOTTOMBORDER);
    border: none;
    font-weight: 800;
    text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
	animation: pulse 2s infinite;
}

nav button:hover {
animation: none;
background-image: var(--GRADIENT);
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 1px rgba(250, 218, 219, 0.466);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 6px 10px rgba(252, 234, 226, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(243, 253, 252, 0);
	}
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2.5em;
    grid-area: ul;
}

nav ul li {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0.5em 0 0.5em 0;
}

.line {
    width: .15em;
    height: 2em;
    border-radius: 0.07em;
    background-color: #bcdfe4;
}

nav ul li a {
    text-decoration: none;
    color: #bcdfe4;
}

nav ul li a:hover {
    color: #ffffff;
}

nav ul li:hover {
    transform: scale(1.3, 1.3);
    text-shadow: 4px 3px 8px rgba(53, 18, 18, 0.8);
    transition: .3s;
}

#cont {
    color: var(--BOTTOMBORDER);
}









.content {
    width: 10em;
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    position: relative;
}

body{
    width: 100vw;
    background: var(--GRADIENTBOX), url("img/tomorrowlandR.jpeg");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;  
    align-items: center;  
}


.logo img{
    width: 10em;
    padding-left: 5%;
    padding-top: 5%;
}

.weekend{
    margin-bottom: 20px;
    padding: 10px;

}

.week{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
    background-color: #f0ebeb46;
    border-radius: 100%;
    width: 100%;
    height: max-content;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.6);
}

.title{
    position:relative;
    text-align: center;
    text-decoration: none;
}

.title h1{
    text-align: center;
    color: #ffff; 
    font-size: 300%; 
}

.title h1 a{
    text-decoration: none;
    color: #ffff;
        text-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.6);
}
.title p{
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    font-size: 75%;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding-bottom: 40px;
        text-shadow: 3px 3px 8px hsla(0, 0%, 0%, 0.6);
}

.pictures img{
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 16px, rgba(0, 0, 0, 0.2) 0px 16px 32px, rgba(0, 0, 0, 0.2) 0px 32px 64px;
        outline: 1px solid rgba(248, 248, 248, 0.753);
    outline-offset: 5px;
}

.container{
    margin-top: 2em;
    width: 100vw;
    height: max-content;
    padding-bottom: 9em;
    display: grid;
    grid-template-rows: 450px 1fr 450px 1fr 450px 1fr;
    grid-template-columns: 1fr 650px 1fr 650px 1fr;
    grid-template-areas:
    '. pic1 . pic2 .'
    '. txt1 . txt2 .'
    '. pic3 . pic4 .'
    '. txt3 . txt4 .'
    '. pic5 . pic6 .'
    '. txt5 . txt6 .';
    vertical-align: top;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 15px;
}

.pic1{
    grid-area: pic1;
}

.pic2{
    grid-area: pic2;
}
.pic3{
    grid-area: pic3;
}
.pic4{
    grid-area: pic4;
}
.pic5{
    grid-area: pic5;
}
.pic6{
    grid-area: pic6;
}

.txt1{
    grid-area: txt1;
}
.txt2{
    grid-area: txt2;
}
.txt3{
    grid-area: txt3;
}
.txt4{
    grid-area: txt4;
}
.txt5{
    grid-area: txt5;
}
.txt6{
    grid-area: txt6;
}


.pictures{
    margin-bottom: 12px;
    width: auto;
    height: 100%;
    
}

.showT{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
    height: 100%;
    width: 100%;
    background-color: #ffffff8e;
    outline: 1px solid rgba(248, 248, 248, 0.753);
    outline-offset: 5px;
    border: #bcdfe47a;
    border-radius: 1%;
    padding: 10px;
}

.showT h3{
    font-size: 1.1rem;
    color: darkslategrey;
    margin-bottom: 7px;
}

.showS{
    font-size: 1.1rem;
    color: var(--FONTCOLOUR);
    font-weight: lighter;
    text-align: justify;
}






/* FOOTER */

footer {
    background-color: var(--NAVCOLOUR);
    width: 100vw;
    margin-top: auto;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    align-items: center;
    padding: 0 3.5em;
    z-index: 6;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer span {
    color: #ffffff;
    position: absolute;
    left: 2em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span img {
    max-width: 200px;
    height: auto;
    padding: 0.5em;
}

footer div ul {
    display: flex;
    justify-content: center;
    gap: 4em;
    list-style: none;
    padding: 1.5em;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
    width: 100vw;
}

footer div ul li a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: .5s;

}


footer div p {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    background-image: linear-gradient(75.5deg, rgb(230, 75, 75) 22.3%, rgb(230, 252, 88) 59.1%, rgb(155, 205, 214) 89.7%);
    -webkit-background-clip: text;
    color: transparent; 
}   

footer .contact2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: .3em;
}

.contact2 div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-weight: 100;
    color: white;
    width: max-content;
    height: auto;
    font-size: 1.2rem;
}

.fa-at, .fa-phone, .fa-location-crosshairs  { 
        background-image: linear-gradient(75.5deg, rgb(230, 75, 75) 22.3%, rgb(230, 252, 88) 59.1%, rgb(155, 205, 214) 89.7%);
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 1.4rem;
}

.fa-brands:hover {
    background-image: linear-gradient(75.5deg, rgb(230, 75, 75) 22.3%, rgb(230, 252, 88) 59.1%, rgb(155, 205, 214) 89.7%);
    -webkit-background-clip: text;
    color: transparent; 
    transform: scale(1.5, 1.5);
    transition: .2s;
}

.up {
    padding: 1em 0.2em;
    border: none;
    background-image: linear-gradient(75.5deg, hsla(0, 76%, 60%, 0.829) 22.3%, hsla(68, 96%, 67%, 0.801) 59.1%, hsla(189, 42%, 72%, 0.863) 89.7%);
    border-radius: 50%;
    outline: 2px solid white;
    outline-offset: .5em;
    
}

.up i {
    width: 1.5em;
    height: auto;
    font-size: 3rem;
    color: var(--FONTCOLOUR);
}

#up {
    width: 100%;
    position: fixed;
    bottom:9em;
    padding-right: 3.5em;
    display: inline-block;
    text-align: end;
}







/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 40%;
    left:0%;
    padding:0;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

.incon-bar ul li{
    list-style:none;
}

  /* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  /* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}
.facebook {
    background: #3B5998;
    color: white;
    border-radius: 0 .3em 0 0;
}
.twitter {
    background: #55ACEE;
    color: white;
}
.google {
    background: #dd4b39;
    color: white;
}
.linkedin {
    background: #007bb5;
    color: white;
}
.youtube {
    background: #bb0000;
    color: white;
    border-radius: 0 0 .3em 0;
}


